footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
<<<<<<< HEAD
    margin-top: auto;
    align-items: center;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
=======
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 60px;
>>>>>>> 884b73e7ebe6da39766b9e0a6316d4a84f3bf031
}