footer {
<<<<<<< HEAD
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px #cccccc;
}

footer p{
    align-items: center;
    justify-content: center;
=======
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 60px;
>>>>>>> 884b73e7ebe6da39766b9e0a6316d4a84f3bf031
}