header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}

header .logo {
    background: url("../images/icon.png") no-repeat left center;
    height: 100%;
    margin-left: 20px;
}