.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px  #DDDDDD solid;
    border-radius: 4px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    opacity: 100%;
}

.filters button:hover {
    opacity: 90%;
}

div.container {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}

section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

section.filters button {
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
    float: right;
    margin: 11px 30px;
}

section.filters button:hover {
    opacity: .9;
}